{% extends "admin/base.twig" %}

{% block body %}


    <br>

    <form action="/addcategory" method="post">

        <div class="form-group">
            Subject category :

            <input type="hidden"  class="form-control" name="categoryId" value="{%if categoryDetails.id is defined%}{{categoryDetails.id}}{% endif %}">
            <select name="category" class="form-control" >
                <option>Choose parent category</option>
                <option value="0" {%if categoryDetails.parentId is defined and categoryDetails.parentId == "0"%}selected="selected"{% endif %}>None</option>
                {% for category in categories %} 
                    <option value= "{{category.id}}" {%if categoryDetails.parentId is defined and category.id == categoryDetails.parentId %}selected{% endif %}>{{category.categoryName}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            Category :
            <input type="text" class="form-control" name="subcategory" value="{%if categoryDetails.categoryName is defined%}{{categoryDetails.categoryName}}{% endif %}" required="required">
        </div>

        <div class="form-group">
            <button type="submit" value="addCategory" class="btn btn-primary" >Submit</button>
        </div>
    </form>



{% endblock %}