{% extends "admin/base.twig" %}

{% block body %}       
        <div align="center">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="/upload"> Upload questions </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}