<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interview System - Login</title>
        <link href="/assets/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/signin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            {% for message in app.session.getFlashBag.get('alert_danger') %}
                <div class="alert alert-danger">
                    <p>{{message}}</p>
                </div>
            {%endfor%}
            <form method="post" name ="adminLoginForm" class="form-signin" id="logInForm" action="/adminlogin">
                <h4>Admin login</h4>
                <input type="email" id="loginEmail" name = "loginEmail"  class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="loginPassword" name = "loginPassword"  class="form-control" placeholder="Password" required>
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</body>
</html>