{% extends "admin/base.twig" %}

{% block body %}       
        <div align="center">
            <table width="30%" align="center">
                <tbody>
                    <tr>
                        <td align="center">
                            <a href="/questionupload"> Question Settings </a>
                        </td>
                        <td align="center">
                            <a href="/category"> Category Settings </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}