<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
    </head>
    
    <body>
        <div align="center">
            <h2 class="form-signin-heading">Admin section</h2>
            <h4>Please sign in</h4>
            <br>
            <form method="post" name ="adminLoginForm" id="logInForm" action="/adminlogin">
                <input type="email" id="loginEmail" name = "loginEmail" placeholder="Email address">
                <input type="password" id="loginPassword" name = "loginPassword" placeholder="Password">
                <input type="submit">
            </form>
            <br>
            {% for message in app.session.getFlashBag.get('message') %}
                <p>{{message}}</p>
            {%endfor%}
        </div>
        
    </body>
</html>