<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Interview System Admin Section
        </title>

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/dashboard.css">  
        <link rel='stylesheet' href='/assets/css/jquery.dataTables.min.css'>
        <link rel='stylesheet' href='/assets/css/dataTables.bootstrap.min.css'>

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <p class="navbar-brand">Admin Section</p>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/adminpanel"> Dashboard </a></li>
                        <li><a href="/adminlogout">Logout</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <br>
        <div class="container-fluid">

            <div class="row">

                <div align="center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                <div align="center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    {% for message in app.session.getFlashBag.get('alert_danger') %}
                        <div class="alert alert-danger">
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    {% for message in app.session.getFlashBag.get('alert_success') %}
                        <div class="alert alert-success alert-dismissible">
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    {% for message in app.session.getFlashBag.get('alert_info') %}
                        <div class="alert alert-info alert-dismissable">
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                </div>
                <div align="center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>

            </div>
            <div class="row">     
                {% include 'admin/sidebar.twig' %}

            {%block body %}{% endblock %} 
        </div>
    </div>

    <!-- footer section -->
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script src='/interviewsystem/assets/js/dataTables.bootstrap.min.js'></script>
    <script src="/interviewsystem/assets/js/jq.js"></script>
    <script src='/interviewsystem/assets/js/jquery.dataTables.min.js'></script>

    {% include 'admin/scripts.twig' %}
</body>
</html>