<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Interview System Admin Section
        </title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/dashboard.css">  
        <link rel='stylesheet' href='/assets/css/jquery.dataTables.min.css'>
        <link rel='stylesheet' href='/assets/css/dataTables.bootstrap.min.css'>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Interview System Admin</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/adminpanel">Dashboard<span class="sr-only">(current)</span></a></li>
                        <li><a href="/adminlogout">Log out</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            
            <div class="row row-offcanvas row-offcanvas-right"> 
                
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    
                {% include 'admin/sidebar.twig' %}
                
                </div>
                <div class="col-xs-12 col-sm-9">
                    {% for message in app.session.getFlashBag.get('alert_danger') %}
                        <div class="alert alert-danger" align='center'>
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    {% for message in app.session.getFlashBag.get('alert_success') %}
                        <div class="alert alert-success alert-dismissible">
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    {% for message in app.session.getFlashBag.get('alert_info') %}
                        <div class="alert alert-info alert-dismissable" align='center'>
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    
                {%block body %}{% endblock %}
                    
                </div>
            </div>
    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text navbar-left">Logged in as:</p>
            <p class="navbar-text navbar-right">&copy; Capital Numbers {{"now"|date('Y')}}</p>
        </div>
    </nav>
          
    <!-- footer section -->
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script src='/assets/js/dataTables.bootstrap.min.js'></script>
    <script src="/assets/js/jq.js"></script>
    <script src='/assets/js/jquery.dataTables.min.js'></script>
    <script src= '/assets/js/admin_base_scripts.js'></script>
</body>
</html>