<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    
    <body>
        <div align="center">
            <h2>
            Admin Section
            </h2>
        </div>
        <div align="right">
            <p>
                {{UserEmail}}
            </p>
            <p>
                <a href="/adminlogout">Logout</a>
            </p>
        </div>
            <br>
                {%block body %}{% endblock %}
    </body>
</html>