{% include 'admin/adminpanel.twig' %}
<div align="center">
    <h3>
    Question and answer upload
    </h3>
    
    <br><br>
    
    <form action="/questionupload" method="post">
         
        <table cellpadding="5">
            <tr>
                <td colspan="2" align="right">
                    Subject :
                </td>
                <td colspan="2" align="left">
                    <select name="category">
                        <option>Choose category</option>
                        {% for category in categories %} 
                            <option value= "{{category.cid}}">{{category.categoryName}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <b>Question :</b>
                </td>
                <td align="left" colspan="2">
                    <textarea name="addquestion" id="addquestion"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Option A:
                </td>
                <td>
                    <input type="text" name="opta" id="opta">
                </td>
                <td>
                    Option B:
                </td>
                <td>
                    <input type="text" name="optb" id="optb">
                </td>
            </tr>
            <tr>
                <td>
                    Option C:
                </td>
                <td>
                    <input type="text" name="optc" id="optc">
                </td>
                <td>
                    Option D:
                </td>
                <td>
                    <input type="text" name="optd" id="optd">
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <select name="correct">
                        <option>Select correct one</option>
                        <option value="option_a">A</option>
                        <option value="option_b">B</option>
                        <option value="option_c">C</option>
                        <option value="option_d">D</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <input type="submit" value="Upload question">
                </td>
            </tr>
        </table>
    </form>
    <div align="center">
        {% for message in app.session.getFlashBag.get('admin_message') %}
                <p>{{message}}</p>
        {%endfor%}
    </div>
</div>
