<div class="list-group">
    <a href="/usersetting" class="list-group-item">Users</a>
    <a href="/adminsetting" class="list-group-item">Admin Users</a>
    <a href="/questionlisting" class="list-group-item">Question Settings</a>
    <a href="/category" class="list-group-item">Category Settings</a>
    <a href="/examsetting" class="list-group-item">Examination Setting</a>
</div>