<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="heading">
                <h3 class="uppercase">Features</h3>
            </li>
            <li class="nav-item start ">
                <a href="/usersetting" class="nav-link nav-toggle ">
                    <i class="icon-user"></i>
                    <span class="title">Users</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/adminsetting" class="nav-link nav-toggle ">
                    <i class="icon-user"></i>
                    <span class="title">Admin Users</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/questionlisting" class="nav-link nav-toggle ">
                    <i class="icon-docs"></i>
                    <span class="title">Question Settings</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/category" class="nav-link nav-toggle ">
                    <i class="icon-layers"></i>
                    <span class="title">Category Settings</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/examsetting" class="nav-link nav-toggle ">
                    <i class="icon-settings"></i>
                    <span class="title">Examination Setting</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>