<div class="row">
    <div class="col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="/usersetting"> Users </a></li>
            <li><a href="/adminsetting"> Admin users </a></li>
            <li><a href="/questionlisting"> Question Settings </a></li>
            <li><a href="/category"> Category Settings </a></li>
            <li><a href="/examsetting"> Examination </a>
        </ul>
    </div>
</div>