<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="heading">
                <h3 class="uppercase">Nevigation</h3>
            </li>
            <li class="nav-item start ">
                <a href="/" class="nav-link nav-toggle ">
                    <i class="fa fa-cogs"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="#" class="nav-link nav-toggle ">
                    <i class="fa fa-users"></i>
                    <span class="title">Users</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/adduser/User" class="nav-link ">
                            <i class="fa fa-user-plus"></i>
                            <span class="title">Add user</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/adminsetting" class="nav-link ">
                            <i class="fa fa-user-secret"></i>
                            <span class="title">Admin Users</span>
                        </a>
                    </li>
                    <li class="nav-item start">
                        <a href="/usersetting" class="nav-link ">
                            <i class="fa fa-user"></i>
                            <span class="title">Candidates</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="/questionlisting" class="nav-link nav-toggle ">
                    <i class="fa fa-pencil"></i>
                    <span class="title">Questions</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/category" class="nav-link nav-toggle ">
                    <i class="icon-layers"></i>
                    <span class="title">Question Categories</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/examsetting" class="nav-link nav-toggle ">
                    <i class="fa fa-graduation-cap"></i>
                    <span class="title">New Examination</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>