<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    
    <body>
        <div align="center">
            <h3>
            Welcome to dashboard!
            </h3>
            <p>
                {{UserEmail}}
            </p>
            <p>
                {{UserName}}
            </p>
        </div>
            <br><br><br>
        <div align="center">
            <p>
                <a href="/logout">Logout</a>
            </p>
        </div>
    </body>
</html>