{% extends 'base.twig' %}

{% block body %}
    <div align="center">

        <h3>
            Welcome to dashboard!
        </h3>
        <div align="center">
            {% for message in app.session.getFlashBag.get('user_message') %}
                <p>{{message}}</p>
            {%endfor%}
        </div>

        {% if examset is defined and examset == 'true' %}<img src="/assets/new.gif"> &nbsp;&nbsp; <a href = '/examnow/{{UserEmail}}'>Start examination</a>{% endif %}

        {% if success is defined and success == 1%} <img src="/assets/new.gif"> &nbsp;&nbsp;  You are qualified for interview! &nbsp;&nbsp; <img src="/assets/new.gif"> {% endif %}

            </div>
            {% endblock %}
