{% extends 'base.twig' %}

        {% block body %}
<div align="center">
            
    <h3>
        Welcome to dashboard!
    </h3>
            
    {% if examset is defined and examset == 'true' %}<a href = '/examnow/{{UserEmail}}'>Start examination</a>{% endif %}
    
</div>
        {% endblock %}
    