<!doctype html>
<html>
    <head>
        <title>Testing</title>
    </head>
    <body>
        <h1>Hello :)</h1>
        <hr>
        {%for value in values%}
            
            <p><b>{{value}}</b></p>

        {%endfor%}
        <hr>
    </body>
</html>