<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interview System - Login</title>
        <link href="/assets/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/signin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            {% for message in app.session.getFlashBag.get('alert_danger') %}
                <div class="alert alert-danger">
                    <p>{{message}}</p>
                </div>
            {%endfor%}
            {% for message in app.session.getFlashBag.get('alert_success') %}
                <div class="alert alert-success">
                    <p>{{message}}</p>
                </div>
            {%endfor%}
            <form method="post" name ="logInForm" class="form-signin" id="logInForm" action="/login">
                <h4 class="form-signin-heading">Please sign in</h4>
                <input type="email" id="loginEmail" name = "loginEmail" placeholder="Email address" class="form-control">
                <input type="password" id="loginPassword" name = "loginPassword" placeholder="Password" class="form-control">
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                <a href="/register" class="btn btn-block btn-general">New user registration</a>
            </form>
        </div>
    </body>
</html>