<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    </head>
    
    <body>
        <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>
            
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" align="center">
                <h2 class="form-signin-heading">Interview System</h2>
                <h4>Please sign in</h4>
                <br>
                <form method="post" name ="logInForm" class="form-signin" id="logInForm" action="/login">
                    <input type="email" id="loginEmail" name = "loginEmail" placeholder="Email address" class="form-control">
                    <input type="password" id="loginPassword" name = "loginPassword" placeholder="Password" class="form-control">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <br>
                <h4><a href="/register">New user registration</a></h4>
                
                {% for message in app.session.getFlashBag.get('alert_danger') %}
                    <div class="alert alert-danger">
                        <p>{{message}}</p>
                    </div>
                {%endfor%}
                {% for message in app.session.getFlashBag.get('alert_success') %}
                    <div class="alert alert-success">
                        <p>{{message}}</p>
                    </div>
                {%endfor%}
                </div>
                
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>
        
            </div>
        </div>
    </body>
</html>