<!DOCTYPE html>
<html>
    <head>
        <title>
            Registration
        </title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>

                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    <h1>New Registration</h1>

                    <form action = "/register" method = "post">
                        Name:<input type  = "text" name = "userName" class='form-control'>
                        Email Id:<input type  = "email" name = "userEmail"  class='form-control'  required="required">
                        Password:<input type  = "password" name = "userPassword" class='form-control'  required="required">
                        <button type = "submit" name = "New Registration" value = "Sign Up" class='btn btn-primary btn-lg btn-block'>Register</button>
                    </form>

                    <br>
                    {% for message in app.session.getFlashBag.get('alert_danger') %}
                        <div class="alert alert-danger" align="center">
                            <p>{{message}}</p>
                        </div>
                    {%endfor%}
                    <a href='/' class='btn btn-default btn-block'> < </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>
    </body>
</html>