<!DOCTYPE html>
<html>
    <head>
        <title>
            Registration
        </title>
    </head>
    
    <body>
        <h1 align = "center">New Registration</h1>
        
        <form action = "/register" method = "post">
        <table align = "center">
                <tr>
                        <td>Name:</td>	<td><input type  = "text" name = "userName"></td>
                </tr>
                <tr>
                        <td>Email Id:</td>	<td><input type  = "text" name = "userEmail"></td>
                </tr>
                <tr>
                        <td>Password:</td>	<td><input type  = "password" name = "userPassword"></td>
                </tr>
                <tr>
                        <td colspan = "2" align = "center"><input type = "submit" name = "New Registration" value = "Sign Up"></td>
                </tr>
        </table>
        </form>
        <br>
        <div align="center">
            {% for message in app.session.getFlashBag.get('message') %}
                <p>{{message}}</p>
            {%endfor%}
        </div>
    </body>
</html>